<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m2-entrega-blog-m2</title>
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/login.css">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300&family=Inter:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <main class="container">
        <div class="login">
            <form class="login__form">
                <h1>Login</h1>
                <input class="login__form--input" type="email" name="email" placeholder="Email">
                <input class="login__form--input" type="password" name="password" placeholder="Senha">
            </form>
            <p>Não tem uma conta? <a href="./index.html">Clique aqui</a> e cadastre-se!</p>
            <button id="login__button">Login</button>
        </div>
    </main>


</body>
<script type="module" src="../scripts/login.script.js"></script>

</html>